<button type="button" id='playNow' onclick='playVideos()'>Play</button>
<button type="button" id='pauseNow' onclick='pauseVideos()'>Pause</button>

<p id='timeDif' style="color:#FFF">Difference</p>
<p id='dur' style="color:#FFF">Runtime</p>
<p id='playCount' style="color:#FFF">PlayCount</p>

<div class="videoHolder" style="width:100%; float:left; clear:right;">

<!-- <div class="videoBox" style="width:49%; float:left; position:relative;">
	<p id="timeA"  style="color:#FFF">TimeA</p>
	<p id="frameA"  style="color:#FFF">TimeA</p>
	<video id="v0" width="250px;" controls tabindex="0" loop>
	    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/A/4A.webm"></source>
	    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
	</video>
</div> -->

<div class="videoBox"style="width:49%; float:left; position:relative;">
	<p id="timeB" style="color:#FFF">TimeB</p>
	<p id="frameB"  style="color:#FFF">TimeA</p>
	<video id="v1"  width="250px;" controls tabindex="1" loop>
	    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/B/4B.webm"></source>
	    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
	</video>
</div>

</div>

<script type="text/javascript">

socket.on('connect', function () {
    socket.emit('hello', function (error) {
        if (!error) return;
          socket.disconnect();
          $('#connection').trigger('disconnected');
          message('Goodbye');
    });
    console.log('passing connection');
});

var gap,
	duration=0,
	playCount=0,
	// vid = document.getElementById('v0'),
	vid1 = document.getElementById('v1');



function playVideos() {
	// if (gap > 0.0001){
	//    document.getElementById('v0').load();
	//    document.getElementById('v1').load();
	//    playCount=1;
	// }
   playCount++;
   // document.getElementById('v0').play();
   document.getElementById('v1').play();
   socket.emit('playNow', document.getElementById('v1').currentTime);
   console.log('playNow', document.getElementById('v1').currentTime);
}

function pauseVideos() {
	// document.getElementById('v0').pause();
	document.getElementById('v1').pause();
	socket.emit('pauseNow', document.getElementById('v1').currentTime);
	console.log('pauseNow', document.getElementById('v1').currentTime);
}



setInterval(function() {
	$('#dur').text(duration);
	duration = duration + (24/1000);
	// $('#gap').text(gapCount);
}, 24);

$('#v1').on('play', function(){
 //shows video frame while playing
    setInterval(function() {
        // $('#timeA').html(vid.currentTime);
        $('#timeB').html(vid1.currentTime);
        // $('#frameA').html(vid.playbackRate);
        $('#frameB').html(vid1.playbackRate);
		$('#playCount').text(playCount);

        // gap = Math.abs(vid.currentTime - vid1.currentTime);
		// $('#timeDif').text(gap);

		socket.emit('timestamp', vid1.currentTime);
    	}, 24);
    	// vid1.currentTime=vid.currentTime;
    ;
});



</script>