<button type="button" id='playNow' onclick='playVideos()'>Play</button>
<button type="button" id='pauseNow'>Pause</button>

<p id='timeDif' style="color:#FFF">Difference</p>
<p id='dur' style="color:#FFF">Duration</p>


<div class="videoHolder" style="width:100%; float:left; clear:right;">

<div class="videoBox" style="width:49%; float:left; position:relative;">
<p id="timeA"  style="color:#FFF">TimeA</p>
<p id="frameA"  style="color:#FFF">TimeA</p>
<video id="v0" width=250px;controls tabindex="0" autobuffer preload>
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/B/4B.webm"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
</video>
</div>

<div class="videoBox"style="width:49%; float:left; position:relative;">
<p id="timeB" style="color:#FFF">TimeB</p>
<p id="frameB"  style="color:#FFF">TimeA</p>
<video id="v1" tabindex="0" autobuffer preload width="250px">
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/A/4A.webm"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
</video>
</div>

</div>

<script type="text/javascript">

function playVideos() {
   document.getElementById('v1').play();
   document.getElementById('v0').play();
}

function pauseVideos() {
	document.getElementById('v1').pause();
	document.getElementById('v0').pause();
}

var gap,
	duration,
	vid = $('#v0')[0],
	vid1 = $('#v1')[0],
	vidAll = document.getElementsByTagName("video");

$('#v0').on('play', function(){
 //shows video frame while playing	
	

    setInterval(function() {
        $('#timeA').html(vid.currentTime);
        $('#timeB').html(vid1.currentTime);
        $('#frameA').html(vid.playbackRate);
        $('#frameB').html(vid1.playbackRate);

        gap = vid.currentTime - vid1.currentTime;
		
		$('#timeDif').text(gap);
    	}, 100);
    // vid1.currentTime=vid.currentTime;
    ;

});

$('#pauseNow').on('click', function(){
	vid.pause();
	vid1.pause();
	});

$('#v0').on('pause', function (){
	vid1.pause();
	vid.pause();
});


</script>