<script src="/js/control.js"></script>

<div id="controlSpots"></div>
<!-- <img src="/image/A/1A.gif" class="fullscreen swap" id="1" set="1"/> -->

<video class="fullscreen visible" id="1" autoplay="true" loop="true"/>
        <source src="/video/webm/A/1A.webm" type='video/webm; codecs="vp8, vorbis"'/>
        Your browser does not support the video tag.
</video>

<%
var id=2;
var videoList = app.locals.videoA.length;

for (var i = videoList -1 ; i >= 0; i--) {     
  %>
    	<video class="hidden fullscreen" id="<%= id %>" loop="true"/>
      	<source src="/video/webm/A/<%= id %>A.webm" type='video/webm; codecs="vp8, vorbis"'/>
      	Your browser does not support the video tag.
    	</video>	
    <%
  id++
   };
%>

</div>

<script>

$.getJSON('/tmp/1.json', function(data) {
    for (var i in data.spots) {
			var skeleton = $('<a class="send-video">&nbsp;</a>');
        	$(skeleton).attr('nextvid', data.spots[i].link);
        	$(skeleton).attr('style', data.spots[i].css);
        	$("#controlSpots").html(skeleton);
    }
  });

</script>
