<button type="button" id='playNow' onclick='playVideos()'>Play</button>
<button type="button" id='pauseNow' onclick='pauseVideos()'>Pause</button>

<p id='time' style="color:#000">Current Video Time</p>
<p id='timeDiff' style="color:#000">Difference Between Client and Control</p>

<div class="videoHolder" style="width:100%; float:left; clear:right;">

<div class="videoBox"style="width:49%; float:left; position:relative;">
	<video id="v1" width="100%" controls tabindex="1" loop preload>
	    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/A/1A.webm"></source>
	    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
	</video>
</div>

</div>

<script type="text/javascript">

socket.on('connect', function () {
    socket.emit('hello', function (error) {
        if (!error) return;
          socket.disconnect();
          $('#connection').trigger('disconnected');
          message('Goodbye');
    });
    console.log('passing connection');
});

socket.on('playController', function(e){
  var shim = 7.006; // shim is needed on first video load but not after
  document.getElementById('v1').currentTime = e + shim;
  document.getElementById('v1').play();
  $('#timeDiff').text(e - document.getElementById('v1').currentTime);
  $('#time').text(e);

});

var gap,
	runningTime=0,
	vid1 = document.getElementById('v1');

function playVideos() {
   socket.emit('playNow', document.getElementById('v1').currentTime);
   console.log('playNow', document.getElementById('v1').currentTime);
}

function pauseVideos() {
	document.getElementById('v1').pause();
	socket.emit('pauseNow', document.getElementById('v1').currentTime);
	console.log('pauseNow', document.getElementById('v1').currentTime);
}


$('#v1').on('play', function(){
  socket.emit('playNow', document.getElementById('v1').currentTime);
});

$('#v1').on('pause', function(){
  socket.emit('pauseNow', document.getElementById('v1').currentTime);
  $('#time').text(document.getElementById('v1').currentTime);
});

</script>