<p id="time" style="color:#000">time</p>
<p id="helloBox">helloBox</p>

<div class="videoHolder" style="width:100%; float:left; clear:right;">

<video id="v0" tabindex="0" preload width="720px">
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/B/1B.webm"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
</video>

</div>

<script>
	// get within 50ms, try not to fry the platform. 29.6fps, 1440x HD Galaxy TAB2/Nexus10. High rez.
	// content at full HD


	var playTime,
	    pauseTime,
	    current,
	    timeFromControl;

	socket.on('connect', function () {
	    socket.emit('listener', function (error) {
	        if (!error) return;
	          socket.disconnect();
	          $('#connection').trigger('disconnected');
	          message('There is already a listener connected');
	        });
	    console.log('connected');
	});

	socket.on('play', function(e){
	    var clientTime = document.getElementById('v0').currentTime;
	    var clientTimeShim =  e - 0.0290245;
	    var clientRate = 1.00000000001
		    
		    console.log('time in other window '+ e);
		    console.log('currentTime this window '+ clientTime);
		    console.log('time difference '+ (e-clientTime));

	    document.getElementById('v0').currentTime = clientTimeShim; // e + 0.0290245 is perfect on one machine. this adjusts client time to allow for lag.
	    document.getElementById('v0').playbackRate = clientRate; // a slightly faster playback rate helps cover gaps
	    document.getElementById('v0').play();

	    socket.emit('playControl', clientTime);
	    $('#time').text(e - clientTime);
	    $('#helloBox').text('play command sent');
	});

	socket.on('pause', function(e){
	    var clientTime = document.getElementById('v0').currentTime;
		    console.log('time in other window '+ e);
		    console.log('this window '+ clientTime);
		    console.log('time difference '+ (e-clientTime));

	    document.getElementById('v0').pause();
	    $('#time').text(e - clientTime);
	});
	
	// On the arrival of a timestamp, log the difference between that time and the current one.
	// socket.on('time', function(e){
	//     var curtime = document.getElementById('v0').currentTime;
	//     curtime = e - curtime;
	//     console.log('difference '+ curtime);
	//     timeFromControl = e;
	// });

</script>