<!-- <script src="/js/client.js"></script> -->
<script type="text/javascript" src="/js/testbuffer.js"></script>
<p id="time" style="color:#FFF">time</p>
<p id="clock" style="color:#FFF">clock</p>
<div class="videoHolder" style="width:100%; float:left; clear:right;">
<video id="v0" controls tabindex="0" autobuffer preload width="250px">
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/B/1B.webm"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
</video>
</div>




<!-- <!-- 
<div id="clientActivator" class="hidden">
	<img src="/images/clientStart.gif" alt="click here to start listening in" />
</div>
this is for mobile

<div id="timestamp"></div>

<video id="1" class="fullscreen" width="640" height="480" autoplay loop />
<source  src="/video/webm/B/1B.webm" type="video/webm">
Your browser does not support the video tag.
</video>

<%
var id=2;
var videoList = app.locals.videoB.length-1;

for (var i = videoList - 1; i >= 0; i--) {
 %>
	<video class="hidden" id="<%= id %>" preload="none" muted="true"/>
	<source src="/video/webm/B/<%= id %>B.webm" type="video/webm">
	Your browser does not support the video tag.
	</video>	
<%
	id++
};
%> -->