<p id="time" style="color:#000">time</p>
<p id="helloBox">send a play command</p>

<div class="videoHolder" style="width:100%; float:left; clear:right;">

<video id="v0" tabindex="0" preload width="720px" controls>
    <source type="video/webm; codecs=&quot;vp8, vorbis&quot;" src="/video/webm/B/1B.webm"></source>
    <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
</video>

</div>

<script>
	// get within 50ms, try not to fry the platform. 29.6fps, 1440x HD Galaxy TAB2/Nexus10. High rez.
	// content at full HD


	var playTime,
	    pauseTime,
	    current,
	    timeFromControl;

	socket.on('connect', function () {
	    socket.emit('listener', function (error) {
	        if (!error) return;
	          socket.disconnect();
	          $('#connection').trigger('disconnected');
	          message('There is already a listener connected');
	        });
	    console.log('connected');
	});

	socket.on('play', function(e){
	    var clientTimeShim =  e + 0; // e is passed in by what time is on the controller.
	    var clientRate = 1;
		    
	    document.getElementById('v0').play();

	    socket.emit('playControl', document.getElementById('v0').currentTime);

	    $('#time').text(clientTime); // record time difference for check.
	    $('#helloBox').text('play command sent '+ document.getElementById('v0').currentTime);
	});

	socket.on('pause', function(e){
	    document.getElementById('v0').pause();
		$('#time').text(document.getElementById('v0').currentTime); // record time difference for check.	    
	});

</script>